	body {
	
		font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
		background-color:#F0F8FF;
		background-image:url(pork.png);
		background-repeat: no-repeat;
		background-position:center;
	
	}
	
	h1{
		margin-bottom:250px;
		color:#F0F0E0;
		text-align:center;
		font-size:75px;
		
	}

	
	.pork {
		
		
		margin-left:400px;
		font-size:30px;
	
		
	}
	
